 /* colors */
 /*
 #336699  med blue
 #F1FFFA white
 #86BBD8 light blue
 #2F4858 dark blue
 #9EE493 green highlight
 #FE365E red
  */

 /* resets */
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', 'sans-serif';
    background-color:#2F4858;
    color: #F1FFFA;
}

body {
    /* background-color: indigo; */
    box-sizing: border-box;
    padding: 3rem;
}





