.DieClicker {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    align-items: center;
}

.Die-clicker-caret {
    color: #9EE493
}

.Die-clicker-caret:hover:not(.disabled) {
    cursor: pointer;
    transform: scale(1.2);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
