/* #FDF0C4 yellow-ish
 #F7A992 peach-ish
 #82A0C2 blue-ish
 #4C364D purple-ish */

.Player {
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Player-dice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.Player-name {
    font-size: 2rem;
    width: 150px;
}

.Player-die-container {
    margin-left: 15px;
}

.Player-die {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.1rem;
    width: 3.1rem;
    font-size: 1.75rem;
    color: #4C364D;
    background-color: #F1FFFA;
    border-radius: 5px;
}


.Player-match {
    /* background-color: #9EE493;
    color: #F1FFFA; */
    color: #9EE493;
}

.player-ended {
    background-color: transparent;
}


.Player-total {
    color: #F1FFFA;
    font-size: 2rem;
    padding: 2rem;
}

