.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: #4C364D; */
    padding: 15px 0px 5px 0px;
}

.Header-title {
    font-size: 3.5rem;
    font-weight: 600;
}

.Header-button {
    cursor: pointer;
    border: none;
    border-radius: none;
    height: 3.5rem;
    width: 12rem;
    background-color: #336699;
    color: #F1FFFA;
    font-size: 2rem;
    text-transform: uppercase;
}

.Header-button:hover {
    background-color: #86BBD8;
}

.Header-disabled {
    cursor: not-allowed;
    opacity: .65;
    background-color: #9EE493;
    color: #2F4858;
}

.Header-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header-control-item {
    margin-left: 20px;
    font-size: 3.0rem;
}

.Header-icon:hover:not(.Header-disabled) {
    cursor: pointer;
    font-size: 3.2rem;
}

.Header-die {
    color: #9EE493;
}

.Header-game-id {
    font-size: 2rem;
    vertical-align: middle;
    text-align: center;
}

.Header-disabled {
    cursor: not-allowed;
    opacity: .75;
}

.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 1.25rem;

    /* Position the tooltip */
    top: 110%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }